<h1>Example App: Ho</h1>
<table class="sTable" width='100%' cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <td>Account id</td>
      <td>Account number</td>
      <td>Amount</td>
      <td>Bank code</td>
      <td>Bank name</td>
    </tr>
  </thead>
  <tbody>
    {{#each transactions}}
    <tr>
      <td>{{account_id}}</td>
      <td>{{account_number}}</td>
      <td>{{amount}}</td>
      <td>{{bank_code}}</td>
      <td>{{bank_name}}</td>
    </tr>
    {{/each}}
  </tbody>
    
    
  </thead>

</table>

<div class="text"></div>
<script type="text/javascript">
  $.ajax('/figo').done(function(resp) {
    $('.text').text(resp.a);
  });
</script>
